<section class="section group about-me">
    <h2 class="title title-section">About me:</h2>
    <p>I enjoy solving problems generally and working with a team to do things to the best of our ability. Producing
        results for the whole, that are hopefully, better than an individual can achieve.</p>
    <p>This doesn't just apply to my job, I enjoy team sports and play a lot of football, I also enjoy co-op gaming, the
        challenge of trying to coordinate people with different ideas, goals, objectives and passions.</p>
    <p>In work I like to strive for optimal solutions to problems, I have a tendency for wanting clean or minimal
        solutions. There is of course always the need to try and remember to approach things with an understanding and
        pragmatism for business requirements and drivers.</p>
    <p>I enjoy working towards having an optimal process in place so a given team or
        individual can more easily produce the best work possible, for me, this means that I like to work on or
        towards having things like automated deployment, the right amount of solid testing and and well scoped pieces of
        work so that any effort is directed towards solving the right thing!</p>
    <p>I like learning new things, but the older I get the more I appreciate the ability (for all) to perform well using
        established skills.</p>
</section>