<div class="contact-details group">
    <dl>
        <dt>Email:</dt>
        <dd>
            <a href="mailto:cv@mattnewman.me?subject=Contact via Online CV">cv@mattnewman.me</a>
        </dd>
        <dt>DoB:</dt>
        <dd>27th January 1983</dd>
        <dt>Nationality:</dt>
        <dd>British</dd>
        <dt>LinkedIn:</dt>
        <dd>
            <a href="https://linkedin.com/in/mattnewman83">https://linkedin.com/in/mattnewman83</a>
        </dd>
        <dt>GitHub:</dt>
        <dd>
            <a href="https://github.com/matt-newman">https://github.com/matt-newman</a>
        </dd>
        <dd>
            <a href="https://github.com/TMG-MattNewman">https://github.com/TMG-MattNewman</a>
        </dd>
    </dl>
</div>