$color1: #e8e8e8;
$color2: #bfbfbf;
$color3: #564256;
$color4: #fc814a;
$color5: #1282a2;

$site-bg-color:         $color2;
$section-bg-color:      $color1;

$font-color:            #444;
$link-color:            $color5;
$link-visited-color:    #0b6e4f;
$link-hover-color:      #a9e4ef;
$link-active-color:     #fff;
    
$title-color:           $color4;
$section-color:         $color3;
$section-title-color:   $title-color;
$since-color:           #666;
$employment-date-color: #999;

$job-border-color:      #ccc;