---
layout: default
title: Matt Newman - CV
---

{% include header.html %}

{% include contact.html %}

{% include about.html %}

<section class="section group previous-jobs span-12">
    <h2 class="title title-section">Previous Employment</h2>

    {% assign sortedJobs = site.jobs | reverse %}
    {% for job in sortedJobs %}
    <div class="job">
        <h3 class="title">
            <span class="company">{{ job.company }}</span>
            <span class="employment-date">
                <time class="start-date" datetime="{{ job.startDate }}">{{ job.startDate | date: "%Y %B" }}</time>
                <time class="end-date" datetime="{{ job.endDate }}">{{ job.endDate | date: "%Y %B" }}</time>
            </span>
        </h3>

        {{ job.content | markdownify }}
        
    </div>

    {% endfor %}

    <div class="jobs jobs--older collapsed">
        <div class="job">
            <h3 class="title">
                <span class="company">AC Appointments</span>
                <span class="employment-date">
                    <time class="start-date" datetime="2003-09">Sep 2003</time>
                    <time class="end-date" datetime="2004-03">March 2004</time>
                </span>
            </h3>
            <p>Technical Data Logging for FLS.</p>
        </div>
        <div class="job">
            <h3 class="title">
                <span class="company">Avery Associates</span>
                <span class="employment-date">
                    <time class="start-date" datetime="2001-11">Nov 2001</time>
                    <time class="end-date" datetime="2002-03">March 2002</time>
                </span>
            </h3>
            <p>Sales Rep and product demonstrator for Epson Printers in DSG.</p>
        </div>
        <div class="job">
            <h3 class="title">
                <span class="company">Avery Associates</span>
                <span class="employment-date">
                    <time class="start-date" datetime="2001-08">August 2001</time>
                    <time class="end-date" datetime="2001-09">September 2001</time>
                </span>
            </h3>
            <p>Sales Rep for Packard Bell computers in DSG.</p>
        </div>
    </div>
</section>