<section class="section grid skills-wrapper group collapsed span-12">
    <h2 class="title title-section col">Skills Summary</h2>
    <div class="skill col">
        <h3 class="title">HTML <span class="since">used since <time datetime="2008"
                    class="since-date">2007</time></span></h3>
        <p>Semantic coding to W3C standards, I have an appreciation for using the best possible base in terms of markup
            as it makes everything else flow more smoothly. To me this means trying to follow best practices such as
            graceful degradation or progressive enhancement whilst building as much as possible using what is available
            via native APIs.</p>
    </div>
    <div class="skill col">
        <h3 class="title">CSS <span class="since">used since <time datetime="2008" class="since-date">2007</time></span>
        </h3>
        <ul class="list technologies">
            <li class="technology">LESS <span class="since">used since <time datetime="2012"
                        class="since-date">2012</time></span></li>
            <li class="technology">SASS <span class="since">used since <time datetime="2011"
                        class="since-date">2011</time></span></li>
        </ul>
        <p>I've got an ideal of writing and maintaining clean and efficient CSS. A constant desire to keep up with the
            ever evolving landscape of CSS as browser standards and adoption evolve, through an evolution from using
            tables for layout, inline styles and attributes in an email context, to using floats for layout in external
            stylesheets, shifting towards using flexbox for layout with varying prefix based support. With this I've
            seen and used a number of different strategies for authoring CSS, such as a modular pattern for self
            contained components, to OOCSS and strategies for addressing different problems such as background and font
            colour inheritance for links etc.</p>
    </div>
    <div class="skill col">
        <h3 class="title">Javascript <span class="since">used since <time datetime="2010"
                    class="since-date">2010</time></span></h3>
        <ul class="list technologies">
            <li class="technology">jQuery
                <span class="since">used since <time datetime="2010" class="since-date">2010</time></span>
            </li>
            <li class="technology">Jasmine, Mocha, Chai, Karma
                <span class="since">used since <time datetime="2013" class="since-date">2013</time></span>
            </li>
            <li class="technology">Mustache
                <span class="since">used since <time datetime="2014" class="since-date">2014</time></span>
            </li>
            <li class="technology">CasperJS
                <span class="since">used since <time datetime="2013" class="since-date">2013</time></span>
            </li>
            <li class="technology">NodeJS, npm
                <span class="since">used since <time datetime="2014" class="since-date">2014</time></span>
            </li>
            <li class="technology">Grunt
                <span class="since">used since <time datetime="2014" class="since-date">2014</time></span>
            </li>
        </ul>
        <p>Solid understanding of code and ways to try and keep code clean and testable. Decent understanding of various
            design patterns. Lately where possible I’d try and opt for micro-libraries and browser native support for a
            lot of interaction with the DOM. I’ve obviously used jQuery, written a couple of custom node scripts,
            written a number of unit tests for key functionality mostly using Jasmine. Written and maintained CasperJS
            functional tests.</p>
    </div>
    <div class="skill col">
        <h3 class="title">Command Line <span class="since">used since <time datetime="2011"
                    class="since-date">2011</time></span></h3>
        <p>A good grasp how to use the command line for a variety of tasks, with a familiarity with a few of the vast
            number of incredibly useful tools available. Obviously more recently using the command line for grunt and
            task runners to aid automated build tasks and testing.</p>
    </div>
    <div class="skill col other-skills">
        <h3 class="title">Other notable skills/technologies:</h3>
        <ul class="skills list long-list">
            <li>Windows, Mac, iPhone, Android: used both professionally and personally.</li>
            <li>Apache: Familiarity with working on (configuring/maintaining) a local Apache instance.</li>
            <li>SVN, Git</li>
            <li>Regex <span class="since">used intermittently since: <time datetime="2011"
                        class="since-date">2011</time></span></li>
            <li>JSP <span class="since">used rarely since: <time datetime="2011" class="since-date">2011</time></span>
            </li>
            <li>XML, XSLT <span class="since">used rarely since: <time datetime="2009"
                        class="since-date">2009</time></span></li>
            <li>SQL: a solid grasp of writing queries with some exposure to performance tuning and optimisations for
                queries. Understanding of relational database design and n-tier normalisation.</li>
            <li>PHP, C#, Java: varied or limited experience/exposure having worked on a number of different projects
                that may have used these programming languages.</li>
            <li>MongoDB: limited knowledge/exposure but took an online course in order to get some experience.</li>
            <li>Photoshop: reasonable usage, knowing how to take designs and images and do simplistic editing.</li>
        </ul>
    </div>
</section>