.contact-details {
    margin: 0 auto 1em;
    max-width: 25em;
}

.contact-details--list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.contact-details dt {
    align-self: flex-start;
    font-weight: bold;
    min-width: 25%;
}
.contact-details dd {
    margin-left: 1em;
    flex: 75% 1;
}

@media screen and (min-width: 28em) {
    .contact-details--list {
        justify-content: flex-end;
    }

    .contact-details dt {
        padding-right: 1em;
        text-align: right;
    }

    .contact-details dd {
        margin-left: 0;
        flex-grow: 0;
    }
}