*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.desktop-only {
    display: none;
}

img {
    max-width: 100%;
    display: inline-block;
}

p,
ul,
ol,
dl {
    margin: 0 0 0.75em 0;
}

*:last-child {
    margin-bottom: 0;
}

.site-wrapper {
    max-width: 60em;
    margin: 0 auto;
    padding: 1em;
}