body {
    color: $font-color;
    background-color: $site-bg-color;
    font-size: 0.9em;
    line-height: 1.5;
}

:link {
    color: $link;
}

:visited {
    color: $link-visited;
}

a:hover {
    color: $link-hover;
}

a:active {
    color: $link-active;
}

.section {
    :link {
        color: darken($link-hover, 30%);
    }

    :link:hover {
        color: $link-hover;
    }
}

.title {
    color: $title-color;
    margin: 0.75em 0 0.25em 0;
}

.title-main {
    color: $site-title-color;
    text-align: center;
    margin-top: 0;
}

.title-section {
    border-bottom: solid 2px;
}

.section {
    margin: 1em 0;
    border-radius: 1em;
    background-color: $section-bg-color;
    color: $section-color;
    padding: 0.5em 1em 1em;
}

.list {
    list-style-position: outside;
    margin: 0.25em 0;
    padding: 0;
}

.long-list {
    display: flex;
    flex-flow: row wrap;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.long-list.technologies li {
    display: inline;
}

.long-list.technologies > li:not(:last-child)::after {
  content: ",";
  margin-left: -0.25em;
}

.list li {
    margin-left: 1em;
}

.since {
    color: $since-color;
    font-size: 0.75em;
    font-weight: normal;
}

.skills {
    flex-flow: column nowrap;
    max-width: 100%;
}

.contact-details {
    margin: 1em auto;
    max-width: 25em;
}

.contact-details dl {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.contact-details dt {
    align-self: flex-start;
    font-weight: bold;
    min-width: 7em;
    padding-right: 1em;
    text-align: right;
}
.contact-details dd {
    margin-left: 0;
    flex: auto 0;
    min-width: 17em;
}

.job {
    border-bottom: $job-border-color solid .2em;
    padding-bottom: 1em;
    margin-bottom: 1em;

    &:last-child {
        border-bottom: 0 none;
    }
}

.employment-date {
    display: block;
    color: $employment-date-color;
    font-size: 0.75em;
    padding-top: 0.5em;
}

.start-date:after {
    content: '-';
    padding-left: 0.3em;
}