*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.desktop-only {
  display: none;
}

img {
  max-width: 100%;
  display: inline-block;
}

p, ul, ol, dl {
  margin: 0 0 0.75em 0;
}

.site-wrapper {
  position: relative;
  max-width: 60em;
  margin: 0 auto;
  padding: 1em;
}

.grid {
  display: grid;
  grid-column-gap: 2em;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

.col {
  grid-column: span 12;
}

.span-6 {
  grid-column: span 6;
}

body {
  color: #aaa;
  background-color: #222;
  font-size: 0.9em;
  line-height: 1.5;
}

:link {
  color: #9cc;
}

:visited {
  color: #a68ba6;
}

a:hover {
  color: #d2e1e3;
}

a:active {
  color: #f03a47;
}

.section :link {
  color: #75a1a7;
}
.section :link:hover {
  color: #d2e1e3;
}

.title {
  color: #C5C9A4;
  margin: 0.75em 0 0.25em 0;
}

.title-main {
  color: #C5C9A4;
  text-align: center;
  margin-top: 0;
}

.title-section {
  border-bottom: solid 2px;
}

.section {
  margin: 1em 0;
  border-radius: 1em;
  background-color: #444;
  color: #aaa;
  padding: 0.5em 1em 1em;
}

.list {
  list-style-position: outside;
  margin: 0.25em 0;
  padding: 0;
}

.long-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.long-list.technologies li {
  display: inline;
}

.long-list.technologies > li:not(:last-child)::after {
  content: ",";
  margin-left: -0.25em;
}

.list li {
  margin-left: 1em;
}

.since {
  color: #7EB09B;
  font-size: 0.75em;
  font-weight: normal;
}

.skills {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  max-width: 100%;
}

.contact-details {
  margin: 1em auto;
  max-width: 25em;
}

.contact-details dt {
  font-weight: bold;
}

.contact-details dd {
  margin-left: 1.5em;
}

.job {
  border-bottom: #5e5e5e solid 0.2em;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.job:last-child {
  border-bottom: 0 none;
}

.employment-date {
  display: block;
  color: #7EB09B;
  font-size: 0.75em;
  padding-top: 0.5em;
}

.start-date:after {
  content: "-";
  padding-left: 0.3em;
}

@media screen and (min-width: 28em) {
  .site-wrapper {
    font-size: 110%;
    padding-left: 2em;
    padding-right: 2em;
  }

  .header {
    font-size: 110%;
  }

  .long-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }

  .long-list li {
    -webkit-box-flex: 0;
        -ms-flex: 0 28%;
            flex: 0 28%;
    padding: 0.25em 1em 0.25em 0;
  }

  .long-list.technologies > li:not(:last-child)::after {
    content: "";
    margin: auto;
  }

  .contact-details dt {
    float: left;
    padding-right: 1em;
    min-width: 7em;
    text-align: right;
  }

  .skills {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .skills li {
    -webkit-box-flex: 1;
        -ms-flex: 1 46%;
            flex: 1 46%;
  }
}
@media screen and (min-width: 36em) {
  .site-wrapper {
    font-size: 125%;
  }

  .section {
    padding-left: 2em;
    padding-right: 2em;
  }
}
@media screen and (min-width: 44em) {
  .technologies li {
    -webkit-box-flex: 0;
        -ms-flex: 0 21%;
            flex: 0 21%;
  }
}
@media screen and (min-width: 52em) {
  .desktop-only {
    display: block;
  }

  .technologies li {
    -webkit-box-flex: 0;
        -ms-flex: 0 14%;
            flex: 0 14%;
  }
}

/*# sourceMappingURL=main.css.map */