@media screen and (min-width: 28em) {
    .site-wrapper {
        font-size: 110%;
        padding-left: 2em;
        padding-right: 2em;
    }
    .header {
        font-size: 110%;
    }
    .long-list {
        flex-flow: row wrap;
    }
    .long-list li {
        flex: 0 28%;
        padding: .25em 1em .25em 0;
    }
    .long-list.technologies > li:not(:last-child)::after {
        content: '';
        margin: auto;
    }
    .contact-details dt {
        float: left;
        padding-right: 1em;
        min-width: 7em;
        text-align: right;
    }
    .skills {
        align-items: center;
    }
    .skills li {
        flex: 1 46%;
    }
}
